.package-page {
  display: flex;
  gap: 20px;
}

.package-section1,
.package-section2 {
  padding: 20px;
}

.package-section1 {
  flex: 2;
  background-color: white;
}

.package-section2 {
  flex: 1;
  background-color: lightgray;
  border-radius: 8px;
}

.package-card {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.added-options span {
  margin-right: 10px;
}

button {
  margin-left: 5px;
}
